+-------------------------------------------------------------+
| unixODBC-GUI-Qt                                             |
+-------------------------------------------------------------+

dist (distribution)
---------------------------------------------------------------

The code here is built with qmake so any package maintainer who
can work with qmake (ie RPM folks) can use this code easily.

---------------------------------------------------------------
Peter Harvey

